<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/foot.css"/>
</head>
<body>

<div class="foot-container">
    <div class="top-part">
        <a href="#">
            <div class="link-item-wrapper">
                <img width="69" height="69" src="../images/gw-link-img.png">

                <h2 class="link-item-text">
                    官网链接
                </h2>
            </div>
        </a>
        <a href="#">
            <div class="link-item-wrapper">
                <img width="69" height="69" src="../images/phone-link-img.png">

                <h2 class="link-item-text">
                    移动端链接
                </h2>
            </div>
        </a>
        <a href="#">
            <div class="link-item-wrapper">
                <img width="69" height="69" src="../images/weibo-link-img.png">

                <h2 class="link-item-text">
                    官网链接
                </h2>
            </div>
        </a>
        <a href="#">
            <div class="link-item-wrapper">
                <img width="69" height="69" src="../images/weixin-link-img.png">

                <h2 class="link-item-text">
                    微信
                </h2>
            </div>
        </a>
    </div>
    <div class="bottom-part">
        <div class="phone-number-wrapper">
            <h2>
                客服电话
            </h2>
            <p class="phone-number">
                406-8888-888
            </p>
        </div>
        <div class="website-explain-wrapper">
            <ul>
                <li>
                    <a href="#">
                        关于网站
                    </a> |&nbsp
                </li>
                <li>
                    <a href="#">
                        联系方式
                    </a> |&nbsp
                </li>
                <li>
                    <a href="#">
                        使用帮助
                    </a> |&nbsp
                </li>
                <li>
                    <a href="#">
                        付款方式
                    </a> |&nbsp
                </li>
                <li>
                    <a href="#">
                        免责声明
                    </a> |&nbsp
                </li>
                <li>
                    <a href="#">
                        意见反馈
                    </a> |&nbsp
                </li>
                <li>
                    <a href="#">
                        网站地图
                    </a>
                </li>
            </ul>
            <p >
                法邦网版权所有&copy;2004-2016增值电信业务经营许可证:京1233
            </p>
        </div>
    </div>
</div>



</body>
</html>