<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/foot.css"/>
    <link rel="stylesheet" href="../css/icon.css"/>
</head>
<body>

<!--顶部静止栏-->
<div class="static-top-bar">

    <div class="static-top-bar-container">

        <!--地址状态-->
        <div class="static-wrapper location-wrapper">
            <span class="glyphicon glyphicon-map-marker">

            </span>
            <span id="province">
                四川
            </span>
            <span id="city">
                成都
            </span>
            <a href="#" id="location_select_btn">
            <span class="glyphicon glyphicon-chevron-down">

            </span>
            </a>
        </div>

        <!--登陆注册-->
        <div class="static-wrapper login-register-wrapper">
            <a href="#">
                登陆
            </a>|
            <a href="#">
                注册
            </a>
        </div>

        <!--静止栏上的导航-->
        <div class="static-wrapper nav-wrapper">
            <ul>
                <li>
                    <a href="#">
                        法律知识
                    </a>
                </li>
                <li>
                    <a href="#">
                        找律师
                    </a>| &nbsp
                </li>
                <li>
                    <a href="#">
                        问律师
                    </a>| &nbsp
                </li>
                <li>
                    <a href="#">
                        首页
                    </a>| &nbsp
                </li>
            </ul>
        </div>

        <div class="static-wrapper website-nav-wrapper">
            <span id="website-nav-text">
                网站导航
            </span>
            <a href="#" id="nav_select_btn">
            <span class="glyphicon glyphicon-chevron-down">

            </span>
            </a>
        </div>

        <div class="static-wrapper version-wrapper">
            <span id="version-text">
                手机版
            </span>
            <a href="#" id="version_select_btn">
            <span class="glyphicon glyphicon-chevron-down">

            </span>
            </a>
        </div>


    </div>

</div>

<!--logo 和 搜索框所在的container-->
<div class="logo-search-bar-container">
    <div class="logo-wrapper">
        <a href="#">
            <img src="../images/logo.png">
        </a>
    </div>

    <div class="search-bar-wrapper">
        <input class="ipt" type="text" placeholder="输入您想知道的内容"/>
        <span class="search-btn glyphicon glyphicon-search">

        </span>
        <ul>
            <li>
                <a href="#">
                    问律师
                </a>| &nbsp
            </li>
            <li>
                <a href="#">
                    找律师
                </a>| &nbsp
            </li>

            <li>
                <a href="#">
                    法律知识
                </a>
            </li>

        </ul>
    </div>
    <a class="online-consult-btn" href="#">
        <span>在线咨询</span>
        <span class="glyphicon glyphicon-triangle-bottom"></span>
    </a>
</div>


<div class="nav-container-bar">
    <div class="mid-nav-wrapper">
        <ul class="clear-float">
            <li>
                <a href="#">
                    法律专题
                </a>
            </li>
            <li>
                <a href="#">
                    婚姻家庭
                </a>
            </li>
            <li>
                <a href="#">
                    刑事辩护
                </a>
            </li>
            <li>
                <a href="#">
                    交通事故
                </a>
            </li>
            <li>
                <a href="#">
                    房产纠纷
                </a>
            </li>
            <li>
                <a href="#">
                    劳动纠纷
                </a>
            </li>
            <li>
                <a href="#">
                    合同纠纷
                </a>
            </li>
            <li>
                <a href="#">
                    知识产权
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-container clear-float">
    <div class="left-content">
        <div class="topic-wrapper">
            <h2>
                专题名称
            </h2>
            <div id="update-time-wrapper">
                <span>更新时间&nbsp:&nbsp</span> <span id="update-time">2016.08.17</span>
            </div>
            <p id="topic-description" class="paragraph-line-height">
                每年的3月15日是国际上公认的消费者权益保护日,这个节日的确立是为了扩大消费者权益保护的宣传,
                推动消费者的活动。在生活中,我们每个人都可能是消费者,那么,作为消费者,我们都享有哪些权利呢？
                又有哪些行为是在侵犯我们的合法权益？当我们的合法权益受到侵害时,我们应该采取哪些行动来合理
                维权呢？各地的消费者协会的投诉电话是多少？
            </p>
        </div>
        <div class="catalog-wrapper">
            <div >
                目录
            </div>

            <div class="catalog-content">
                <ul class="clear-float">
                    <li>
                        每年的3月15日是国际上
                    </li>
                    <li>
                        每年的3月15日
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-list-wrapper">
            <ul>
                <li>
                    <div class="content-list-item-wrapper">
                        <div class="little-title-wrapper">
                            <div>
                                <span></span>
                            </div>
                            <h2>
                                小标题
                            </h2>
                        </div>
                        <p>
                            每年的3月15日是国际上公认的消费者权益保护日,这个节日的确立是为了扩大消费者权益保护的宣传,
                            推动消费者的活动。在生活中,我们每个人都可能是消费者,那么,作为消费者,我们都享有哪些权利呢？
                            又有哪些行为是在侵犯我们的合法权益？当我们的合法权益受到侵害时,我们应该采取哪些行动来合理
                            维权呢？各地的消费者协会的投诉电话是多少？
                        </p>
                        <div style="padding: 10px 0 15px 0">
                            ......
                        </div>
                        <a href="#">
                            阅读全文>>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="content-list-item-wrapper">
                        <div class="little-title-wrapper">
                            <div>
                                <span></span>
                            </div>
                            <h2>
                                小标题
                            </h2>
                        </div>
                        <p>
                            每年的3月15日是国际上公认的消费者权益保护日,这个节日的确立是为了扩大消费者权益保护的宣传,
                            推动消费者的活动。在生活中,我们每个人都可能是消费者,那么,作为消费者,我们都享有哪些权利呢？
                            又有哪些行为是在侵犯我们的合法权益？当我们的合法权益受到侵害时,我们应该采取哪些行动来合理
                            维权呢？各地的消费者协会的投诉电话是多少？
                        </p>
                        <div style="padding: 10px 0 15px 0">
                            ......
                        </div>
                        <a href="#">
                            阅读全文>>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="relative-topic-wrapper clear-float">
            <h2>
                相关专题
            </h2>
            <a href="#">
                <div class="relative-topic">
                    再婚领结婚证需要什么证件
                </div>
            </a>
            <a href="#">
                <div class="relative-topic">
                    再婚领结婚证需要什么证件
                </div>
            </a>
            <a href="#">
                <div class="relative-topic">
                    再婚领结婚证需要什么证件
                </div>
            </a>
            <a href="#">
                <div class="relative-topic">
                    再婚领结婚证需要什么证件
                </div>
            </a>
        </div>

        <!--专业律师解答-->
        <div class="lawyer-answer-container">
            <h2>
                专业律师解答
            </h2>
            <a class="href-btn lawyer-consult-btn">
                我有疑问资讯律师
            </a>
            <ul>
                <li>
                    <div class="question-answer-wrapper">
                        <div class="question-wrapper">
                        <span class="question">
                            Q
                        </span>
                            <span class="lawyer-question">
                            优秀律师解答
                       </span>
                        </div>
                        <div class="answer-wrapper clear-float">
                            <div class="answer">
                                A
                            </div>
                            <p class="lawyer-answer">
                                每年的3月15日是国际上公认的消费者权益保护日,这个节日的确立是为了扩大消费者权益保护的宣传,
                                推动消费者的活动。在生活中,我们每个人都可能是消费者,那么,作为消费者,我们都享有哪些权利呢？
                                又有哪些行为是在侵犯我们的合法权益？当我们的合法权益受到侵害时,我们应该采取哪些行动来合理
                                维权呢？各地的消费者协会的投诉电话是多少？
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="question-answer-wrapper">
                        <div class="question-wrapper">
                        <span class="question">
                            Q
                        </span>
                            <span class="lawyer-question">
                            优秀律师解答
                       </span>
                        </div>
                        <div class="answer-wrapper clear-float">
                            <div class="answer">
                                A
                            </div>
                            <p class="lawyer-answer">
                                每年的3月15日是国际上公认的消费者权益保护日,这个节日的确立是为了扩大消费者权益保护的宣传,
                                推动消费者的活动。在生活中,我们每个人都可能是消费者,那么,作为消费者,我们都享有哪些权利呢？
                                又有哪些行为是在侵犯我们的合法权益？当我们的合法权益受到侵害时,我们应该采取哪些行动来合理
                                维权呢？各地的消费者协会的投诉电话是多少？
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-content">

        <!--律师信息-->
        <div class="lawyer-info-container">
            <div class="top-part">
                <img src="../images/lawyer-head-img.png">
                <div class="lawyer-info-wrapper">
                    <p id="lawyer_name">
                        张XX律师
                    </p>
                    <p id="lawyer_address">
                        北京
                    </p>
                    <p>
                        <span>电话&nbsp:&nbsp</span><span id="lawyer_phone_number">13888888888</span>
                    </p>
                </div>
            </div>
            <p class="bottom-part">
                本人身份证复印件、投诉书、购买产品发票或收据、产品本人身份证复印件、
                投诉书、购买产品发票或收据、产品......<a href="#" style="color: dodgerblue">详细</a>
            </p>
        </div>

        <!--热门专题推荐-->
        <div class="hot-topic-recommend-wrapper">
            <h2>热门专题推荐</h2>
            <ul>
                <li>
                    <div>
                        <a href="#">
                            1.2016法定结婚年龄
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#">
                            2.法定结婚年龄
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#">
                        3.领结婚证需要带什么
                    </a>
                </li>
                <li>
                    <a href="#">
                        4.异地结婚迁户口流程
                    </a>
                </li>
            </ul>
        </div>

        <!--选择服务-->
        <div class="select-service-wrapper">
            <h2>选择服务</h2>
            <a class="href-btn select-service-btn" href="#" id="phone_consult_btn">
                电话咨询
            </a>
            <a class="href-btn select-service-btn" href="#" id="ask_lawyer_btn">
                问律师
            </a>
            <a class="href-btn select-service-btn" href="#" id="view_article_btn">
                看文章
            </a>
        </div>

        <div class="advertise-wrapper">
            <a href="#">
                <img src="../images/advertise-img.png">
            </a>
        </div>
    </div>
</div>


<!--底部栏-->
<div class="foot-bar">
    <div class="foot-container">
        <div class="top-part">
            <a href="#">
                <div class="link-item-wrapper">
                    <img width="69" height="69" src="../images/gw-link-img.png">

                    <h2 class="link-item-text">
                        官网链接
                    </h2>
                </div>
            </a>
            <a href="#">
                <div class="link-item-wrapper">
                    <img width="69" height="69" src="../images/phone-link-img.png">

                    <h2 class="link-item-text">
                        移动端链接
                    </h2>
                </div>
            </a>
            <a href="#">
                <div class="link-item-wrapper">
                    <img width="69" height="69" src="../images/weibo-link-img.png">

                    <h2 class="link-item-text">
                        官网链接
                    </h2>
                </div>
            </a>
            <a href="#">
                <div class="link-item-wrapper">
                    <img width="69" height="69" src="../images/weixin-link-img.png">

                    <h2 class="link-item-text">
                        微信
                    </h2>
                </div>
            </a>
        </div>
        <div class="bottom-part">
            <div class="phone-number-wrapper">
                <h2>
                    客服电话
                </h2>
                <p class="phone-number">
                    406-8888-888
                </p>
            </div>
            <div class="website-explain-wrapper">
                <ul>
                    <li>
                        <a href="#">
                            关于网站
                        </a> |&nbsp
                    </li>
                    <li>
                        <a href="#">
                            联系方式
                        </a> |&nbsp
                    </li>
                    <li>
                        <a href="#">
                            使用帮助
                        </a> |&nbsp
                    </li>
                    <li>
                        <a href="#">
                            付款方式
                        </a> |&nbsp
                    </li>
                    <li>
                        <a href="#">
                            免责声明
                        </a> |&nbsp
                    </li>
                    <li>
                        <a href="#">
                            意见反馈
                        </a> |&nbsp
                    </li>
                    <li>
                        <a href="#">
                            网站地图
                        </a>
                    </li>
                </ul>
                <p>
                    法邦网版权所有&copy;2004-2016增值电信业务经营许可证:京1233
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>